# ABINSTEIN OS - Configurație Browser Web Securizat
[BrowserSettings]
engine = WPEWebKit
private_mode = true
block_trackers = true
no_google_telemetry = true

[Homepage]
# Când deschizi browserul, se va deschide automat enciclopedia liberă
default_url = https://wikipedia.org

[Bookmarks]
# Site-uri utile adăugate automat în memoria browserului tău, una sub alta
bookmark1 = https://github.com
bookmark2 = https://wikipedia.org
bookmark3 = https://kernel.org
bookmark4 = https://duckduckgo.com
